In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2
import awswrangler as wr
from config import db_password
from pandas import DataFrame

import warnings
warnings.filterwarnings('ignore')

## Connect to S3 Bucket to pull raw dataset in csv format

In [2]:
# This cell is used the first time to connect to the S3 bucket that holds the dataset in csv format
s3_bucket = "aws.nw.bootcamp.0805"
s3_bucket_path = "creditcard.csv"
raw_s3_path = f"s3://{s3_bucket}/{s3_bucket_path}"

creditcard_df = wr.s3.read_csv(path=raw_s3_path)

In [3]:
creditcard_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# checking size of data to determine if we need to import in chunks
creditcard_df.shape

(284807, 31)

## Write dataframe to AWS Postgresql RDS

In [13]:
# This cell writes the data to the AWS postgres database
con = wr.postgresql.connect("my-glue-connection")
wr.postgresql.to_sql(df=creditcard_df, table="CreditCard_Transactions", schema="public", con=con)
con.close()

## Connect to AWS Postgres RDS to read data and connect to your model

In [ ]:
# connect to AWS PgAdmin to read data
creditcard_df = wr.postgresql.read_sql_table(table="CreditCard_Transactions", schema="public", con=con)
con.close()

## You may choose to write the data to a local PgAdmin

#### Write the data to a local database

In [ ]:
db_string = f"postgresql://postgresql:{db_password}@127.0.0.1:5432/Machine_Learning_Projects"
engine = create_engine(db_string)
creditcard_df.to_sql(name='CreditCard_Transactions', con=engine, if_exists='replace')

## Read the data from your local database and connect to your model

In [ ]:
# connect to PgAdmin to read data
creditcard_df = pd.read_sql_query('select * from "CreditCard_Transactions"',con=engine)
creditcard_df= creditcard_df.drop(['index'], axis=1)
creditcard_df.head()